<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('restinfo') }}"><i class="fas fa-utensils"></i>&nbsp;Your Restaurant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
          </ul>
          <span class="navbar-nav">
            <a class="nav-link" href="{{ url_for('owner_profile') }}"><i class="fas fa-user-circle"></i>&nbsp;Profile</a>
          </span>
          <span class="navbar-nav">
            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
          </span>
        </div>
      </nav>
      <br>
    <div class="container">
            
            {% block content %}

            {% endblock %}

  
    </div>
</body>
</html>