<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<style>
    .card{
        text-align: center;
        margin: 10% 30%;
        padding: 2%;
    }
    .btn{
        font-size: large;
        padding: 1%;
        width: 100%;
        margin: 0;
    }
    .links .col{
        padding: 0%;
        border: 1px solid snow;
    }
    .links .active{
        border-bottom: 2px solid rgb(0, 74, 143);
    }
    .form{
        padding: 3%;
        margin: 0;
        padding-bottom: 0;
    }
    body{
        background-color: rgb(0, 74, 143);
    }
    h3{
        color: rgb(0, 74, 143);
    }
</style>
<body>
    <div class="container">
        <div class="card">
            {% if session['loggedin'] %}
            <h3>You are already Logged In!</h3>
            <a href="{{ url_for('user_logout') }}" type="button" class="btn btn-primary">Logout</a>
            {% else %}
                <h3>Register</h3><br>
                <div class="links row">
                    <div class="col active"><a href="{{ url_for('register') }}" class="btn">User</a></div>
                    <div class="col"><a href="{{ url_for('register_owner') }}" class="btn">Restaurant Owner</a></div>
                </div>
                <div class="links row">
                    <div class="col"><a href="{{ url_for('login') }}" class="btn">Login</a></div>
                    <div class="col active"><a href="{{ url_for('register') }}" class="btn">Register</a></div>
                </div>
                <br>

                {% with messages = get_flashed_messages() %}  
                    {% if messages %}  
                        {% for message in messages %}  
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}  
                    {% endif %}  
                {% endwith %}

                <form action="{{ url_for('register') }}" method="post" autocomplete="off"  class="form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="username" class="input-group-text"><i style="padding: 0 1px;" class="fas fa-user"></i></label>
                        </div>
                        <input class="form-control" type="text" name="username" placeholder="Username" id="username" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="password" class="input-group-text"><i style="padding: 0 1px;" class="fas fa-lock"></i></label>
                        </div>
                        <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="email" class="input-group-text"><i class="fas fa-envelope"></i></label>
                        </div>
                        <input class="form-control" type="email" name="email" placeholder="Email" id="email" required>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <br><br>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>